@font-face {
  font-family: Chalet;
  src: url("./assets/Chalet ParisNineteenSixty Regular.otf");
  font-weight: 300;
  font-synthesis: none;
}

@font-face {
  font-family: Chalet;
  src: url("./assets/ChaletLondonNineteenSixty.ttf");
  font-weight: normal;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: Chalet, "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-kerning: none;
  font-variant: normal;
  transition: background-color 1s;

  &.transparent {
    background-color: transparent;
  }
}

.fullscreen {
  position: absolute;
  inset: 0;
}

.fill {
  width: 100%;
  height: 100%;
}

img.background {
  object-fit: cover;
  object-position: center;
}

img.right {
  object-fit: contain;
  object-position: center right;
}

.block {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
